%body
  #page
    %header#header.site-header
      = render "header"


    %main#main.site-main
      %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
        .carousel-inner
          .item.active{:style => "background: url(assets/background/solarhome.jpg); background-size:cover;"}
            .container
              .main_content.pt10.pb40.col-sm-8.col-sm-offset-2
                %h1.section-title
                  %span Welcome to SunStory
                %h2
                  %span
                    %span.fa.fa-bolt
                    Solar Pays. Lets see how

                = form_tag("/calc_savings", method: "post") do
                  .form-group
                    = label_tag :zipcode
                    = number_field_tag :zipcode, nil, placeholder: 94109
                  = submit_tag "Show Estimate", class: "btn btn-primary"

      %section.section.section-center.section-cta.pt10.pb20
        .container


    %footer#footer.site-footer.mt100
      = render "footer"



